STEAM_API_KEY=YOUR_STEAM_API_KEY
FIREBASE_PROJECT_ID=ak4ak-d948e
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@ak4ak-d948e.iam.gserviceaccount.com
PORT=3000
