STEAM_API_KEY=36B65CAEDEB8FDD3CFA2250F55AB4772
FIREBASE_PROJECT_ID=ak4ak-d948e
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@ak4ak-d948e.iam.gserviceaccount.com
PORT=3000
